apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: app-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: nareshgundavelli/simple-react:frontend-1.1.2
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
          env:
            - name: REACT_APP_API_BASE
              value: "/api"
